header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
}
nav{
    width: 15vw;
    position: relative;
    top:1rem;
    right: 1rem;
}